<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<script>

    function validate() {
        return confirm('Do you really want delete <%= pokemon.name %>?');
    }
    </script>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="container main">
        <div class="show-div">
            <h2 style="text-align: center;"><%= pokemon.name %></h2>
            <div class="info-div">
                <div class="show-card">
                    <img class="show-img" src=<%= pokemon.img %> alt="">
                </div>
                <div class="show-card" >
                    <div class="show-stats">
                        <h4>Hit Points: <%= pokemon.stats.hp %></h4>
                        <h4>Attack: <%= pokemon.stats.attack %></h4>
                        <h4>Defense: <%= pokemon.stats.defense %></h4>
                        <h4 style="overflow-wrap: normal; height: 3em;">Type: <%= pokemon.type[0] %>, <%= pokemon.type[1]%></h4>
                    </div>
                </div>

            </div>
            

        </div>
        <div class="button-container">
            <form class="button nav-link"action="/pokemon/<%= pokemon.id %>?_method=DELETE" method="POST">
                <button style="cursor: pointer;" class="button nav-link" type="submit" onclick="return validate()">Delete</button>
            </form>    
            <a class = "button nav-link" href="/pokemon/<%= pokemon.id %>/edit">Edit</a>
             
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>